.hero {
    background-image: url('src//assets/hero.jpg'); 
    background-size: cover;
    background-position: center;
    height: 65vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  
  .hero-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
  }
  
  .hero-search {
    width: 90%;
    padding: 10px;
    border: none;
    border-radius: 4px 4px 0 0;
    outline: none;
    margin-bottom: 5px;
  }
  
  .hero-button {
    width: 90%;
    padding: 10px 20px;
    background-color: crimson;
    color: white;
    border: none;
    border-radius: 0 0 4px 4px;
    cursor: pointer;
  }
  
  .hero-button:hover {
    background-color: #ff4c4c;
  }
  

 